/*-----------------TEMAS----------------*/
body.tema-claro {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

body.tema-escuro {
  background-color: #121212;
  color: #fff;
}
/*-----------------AUMENTAR E DIMINUIR FONTES--------*/
body {
  font-size: 16px;
  transition: font-size 0.3s;
}


